.barChart {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    h3 {
        margin: 0 0 1rem 0;
    }

    .container {
        border-left: 2px solid #232323;
        border-bottom: 2px solid #232323;
        position: relative;
        height: 100%;

        .xAxisTitle {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        .yAxisTitle {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .bars {
            display: flex;
            flex-direction: row;
            transform: translateY(40px) scaleY(-1);

            .bar {
                width: 40px;
                margin-right: 1rem;

                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
