.directoryTree {
    font-size: 1.4rem;

    h3 {
        font-size: 1.8rem;
        margin: 0 0 1rem 0;
    }

    .header {
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        &.inactive {
            opacity: 0.6;
        }

        &:hover {
            background: #747bff;
        }
    }

    .directory {
        margin: 0.2rem 0;

        .directoryContent {
            margin-left: 2rem;

            .directoryContent {
                .file {
                    .header img {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .file {
        margin: 0.2rem 0;

        .header img {
            margin-left: 1.8rem;
        }
    }
}


