.tasksList {
    display: flex;
    min-height: 80vh;

    h4 {
        margin: 5px 5px 10px 5px;
    }

    .taskStatusList {
        border: 1px solid #232323;
        margin-right: 10px;
        padding: 10px;

        .taskStatus {

        }

        .taskList {
            display: flex;
            flex-direction: column;

            .task {
                border: 1px solid #232323;
                padding: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                user-select: none;

                > div {

                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}
